<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Form update SV</h3>
    <form action="/buoi5/update" method="post">
        Id: <input type="text" name="id" th:value="${sv.id}"><br>
        Ten: <input type="text" name="ten" th:value="${sv.ten}"><br>
        Diem: <input type="text" name="diem" th:value="${sv.diem}"><br>
        Gioi tinh:
            Nam <input type="radio" name="gioiTinh" value="true" th:checked="${sv.gioiTinh}">
            Nu <input type="radio" name="gioiTinh" value="false" th:checked="${!sv.gioiTinh}">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>