<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Them san pham:
    <form action="/san-pham/them" method="post" th:object="${sp}">
        Ten: <input type="text" th:feild="*{ten}"><i th:errors="*{ten}"></i><br>
        Gia: <input type="text" th:feild="*{gia }"><i th:errors="*{ten}"></i><br>
        Con bao hanh:
        Con <input type="radio" th:field="*{conBaoHanh}" value="true">
        Het <input type="radio" th:field="*{conBaoHanh}" value="false">
        <i th:errors="*{conBaoHanh}"></i><br>
        Danh muc:
        <select th:field="*{dm}">
            <option value="">get riel</option>
            <th:block th:each="dm : ${listDanhMuc}">
                <option th:value="${dm.id}" th:text="${dm.ten}"></option>
            </th:block>
        </select>
        <i th:errors="*{dm}"></i>
        <br>
        <button>Submit</button>
    </form>

    Bang san pham:
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Ten</th>
            <th>Gia</th>
            <th>Con bao hanh</th>
            <th>Danh muc</th>
            <th>Hanh dong</th>
        </tr>
        </thead>
        <tbody>
            <th:block th:each="sp : ${listSanPham}">
                <tr th:block="${sp}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{ten}"></td>
                    <td th:text="*{gia}"></td>
                    <td th:text="*{conBaoHanh == true ? 'Con' : 'Het'}"></td>
<!--                    <td th:text="*{dm.ten}"></td>-->
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>