.container
{
    width: 960px;
    height: 1000px;
    background-color: blue;
    margin: 0 auto;
}
header
{
    width: 100%;
    height: 300px;
    background-color: orangered;
}
nav
{
    width: 100%;
    height: 50px;
    background-color: red;
    text-align: center;
    font-variant: small-caps;
}
nav a
{
    color: white;
    text-decoration: none;
    line-height: 50px;
}
nav a :hover
{
    color: yellow;
    text-decoration: underline;
}
article
{
    width: 70%;
    height: 500px;
    background-color: white;
    float: left;
}
aside
{
    width: 30%;
    height: 500px;
    background-color: gray;
    float: left;
}
footer
{
    border-top: 5px double orangered;
    clear: both;
    width: 100%;
    height: 150px;
    background-color: lightcyan;
    line-height: 150px;
    text-align: center;
    font-size: 25px;
    font-variant: small-caps;
}
iframe[name=page]
{
    width: 100%;
    min-height: 500px;
}