<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add dh</h3>
    <form action="/de1/don-hang/add" method="post">
        Ma don: <input type="text" name="maDon"><br>
        Ngay dat: <input type="text" name="ngayDat"><br>
        Tong tien: <input type="text" name="tongTien"><br>
        Khach hang
        <select name="kh">
            <th:block th:each="kh: ${khList}">
                <option th:value="${kh.id}" th:text="${kh.id}"></option>
            </th:block>
        </select>
        <br><button>Submit</button>
    </form>
    <h3>index dh</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>Ma don</th>
        <th>Ngay dat</th>
        <th>Tong tien</th>
        <th>Khach hang</th>
        <th>Hanh dong</th>
        </thead>
        <tbody>
        <th:block th:each="dh: ${dhList}">
            <tr th:object="${dh}">
                <td th:text="*{id}"></td>
                <td th:text="*{maDon}"></td>
                <td th:text="*{ngayDat}"></td>
                <td th:text="*{tongTien}"></td>
                <td th:text="*{kh.ten}"></td>
                <td>
                    <a th:href="@{|/de1/don-hang/update/*{id}|}">update</a>
                    <a th:href="@{|/de1/don-hang/delete?id=*{id}|}">delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>