<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Them danh muc:
<form action="/danh-muc/them" method="post">
    Ten: <input type="text" name="ten"> <br>
    Cap do: <input type="text" name="capDo"> <br>
    He so: <input type="text" name="heSo"> <br>
    <button>Submit</button>
</form>
<br>
Bang danh muc:
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Ten</th>
        <th>Cap do</th>
        <th>He so</th>
        <th>Hanh dong</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="danhMuc : ${danhSach}">
        <tr th:object="${danhMuc}">
            <td th:text="*{id}"></td>
            <td th:text="*{ten}"></td>
            <td th:text="*{capDo}"></td>
            <td th:text="*{heSo}"></td>
            <td>
                <a th:href="@{|/danh-muc/sua/*{id}|}">View update</a>
                <a th:href="@{|/danh-muc/xoa?id=*{id}|}">Delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>