<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>form update</h3>
    <form action="/prac2/update" method="post">
        ID: <input type="text" name="id" th:value="${s.id}"><br>
        Tac gia: <input type="text" name="tacGia" th:value="${s.tacGia}"><br>
        Ten: <input type="text" name="ten" th:value="${s.ten}"><br>
        So trang: <input type="text" name="soTrang" th:value="${s.soTrang}"><br>
<!--        Nha xuat ban: <input type="text" name="nhaXuatBan" th:value="${s.nhaXuatBan}"><br>-->
        Nha xuat ban
        <select name="nhaXuatBan">
            <option th:value="${s.nhaXuatBan}" th:text="${s.nhaXuatBan}"></option>
        </select>
        <br>
        <button>submit</button>
    </form>
</body>
</html>