<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>form udpate</h3>
    <form action="/prac1/update" method="post">
        ID: <input type="text" name="id" th:value="${mt.id}"><br>
        Hang: <input type="text" name="hang" th:value="${mt.hang}"><br>
        CPU
        Intel <input type="radio" name="cpu" value="true" th:checked="${mt.cpu}">
        Ryzen <input type="radio" name="cpu" value="false" th:checked="${!mt.cpu}">
        <br>
        GPU
        NVIDIA <input type="radio" name="gpu" value="true" th:checked="${mt.gpu}">
        AMD <input type="radio" name="gpu" value="false" th:checked="${!mt.gpu}">
        <br>
        <button>submit</button>
    </form>
</body>
</html>