<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td, tr {
            border: 1px solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h3>add hs</h3>
    <form action="/hoc-sinh/add" method="post">
        Ten: <input type="text" name="tenHocSinh"><br>
        Tuoi: <input type="text" name="tuoi"><br>
        Dang hoc? 
        Co <input type="radio" name="dangHoc" value="true">
        Khong <input type="radio" name="dangHoc" value="false">
        <br>
        <select name="th">
            <th:block th:each="th: ${thList}">
                <option th:value="${th.id}" th:text="${th.tenTruong}"></option>
            </th:block>
        </select>
        <br><button>submit</button>
    </form>
    <h3>index hs</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Ten HS</th>
            <th>Tuoi</th>
            <th>Dang hoc</th>
            <th>Truong hoc</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="hs: ${hsList}">
                <tr th:object="${hs}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{tenHocSinh}"></td>
                    <td th:text="*{tuoi}"></td>
                    <td th:text="*{dangHoc == true ? 'Co' : 'Khong'}"></td>
                    <td th:text="*{th.tenTruong}"></td>
                    <td>
                        <a th:href="@{|/hoc-sinh/update/*{id}|}">update</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <h3>search hs</h3>
    <form action="/hoc-sinh/search" method="get">
        Ten HS: <input type="text" name="tenHocSinh" placeholder="Nhap ten HS">
        <br><button>submit</button>
    </form>
    <br><a th:href="@{|/hoc-sinh/page|}">go page here!</a>
</body>
</html>