<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add</h3>
    <form action="/lan1/add" method="post">
        ID: <input type="text" name="id"><br>
        Serial: <input type="text" name="serial"><br>
        Gia: <input type="text" name="gia"><br>
        Nam: <input type="text" name="nam"><br>
        Ten: <input type="text" name="ten"><br>
        <button>submit</button>
    </form>
    <h1>index</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Serial</th>
            <th>Gia</th>
            <th>Nam</th>
            <th>Ten</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="mt : ${mtList}">
                <tr th:object="${mt}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{serial}"></td>
                    <td th:text="*{gia}"></td>
                    <td th:text="*{nam}"></td>
                    <td th:text="*{ten}"></td>
                    <td>
                        <a th:href="@{|/lan1/view-update/*{id}|}">update</a>
                        <a th:href="@{|/lan1/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>