body {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    padding: 25px;
    width: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 25px;
}
img {
    height: 333px;
    width: 333px;
    border-radius: 25px;
    margin: 25px;
}
button {
    height: 25px;
    width: 50px;
    border-radius: 25px;
    margin: 3px;
    background-color: wheat;
}
button:hover {
    box-shadow: 0 0 5px skyblue;
    box-shadow: 0 0 20px skyblue;
    box-shadow: 0 0 50px skyblue;
}