* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.right {float: right;}
.left {
    float: left;
    display: contents;
}
header {
    color: white;
    display: flex;
}
nav {
    background-color: blue;
    color: white;
    padding: 1rem ;
    height: 60px;
}

nav ul {
    list-style: none;
    text-align: center;
    float: left;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li ul {
    position: absolute;
    background-color: blue;
    list-style: none;
    display: none;
}

nav ul li ul li a {
    display: block;
}

nav ul li:hover ul {
    display: block;
}

nav .timkiem {
    float: right;
    display: inline;
}

main {
    background-color: pink;
}

article {
    padding: 2rem;
    float: left;
    width: 70%;
}

aside {
    background-color: pink;
    padding: 2rem;
    float: right;
    width: 30%;
}

footer {
    background-color: cornflowerblue;
    color: black;
    padding: 2rem;
    clear: both;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.form-control 
{
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 0 3px blue;
    color: black;
    display: block;
    outline: none;
}