<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update hs</h3>
    <form action="/hoc-sinh/update" method="post">
        ID: <input type="text" name="id" th:value="${hs.id}"><br>
        Ten: <input type="text" name="tenHocSinh" th:value="${hs.tenHocSinh}"><br>
        Tuoi: <input type="text" name="tuoi" th:value="${hs.tuoi}"><br>
        Dang hoc?
        Co <input type="radio" name="dangHoc" value="true" th:checked="${hs.dangHoc}">
        Khong <input type="radio" name="dangHoc" value="false" th:checked="${!hs.dangHoc}">
        <br>
        <select name="th">
            <th:block th:each="th: ${thList}">
                <option th:value="${th.id}" th:text="${th.tenTruong}" th:selected="${th.id == hs.th.id}"></option>
            </th:block>
        </select>
        <br><button>submit</button>
    </form>
</body>
</html>