* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(12, 0, 123);
    padding: 1rem;
    color: white;
}
nav {
    background-color: blue;
    color: white;
    padding: 1rem ;
    height: 60px;
}

nav ul {
    list-style: none;
    text-align: center;
    float: left;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .timkiem {
    float: right;
    display: inline;
}

main {
    background-color: white;
}

article {
    background-color: grey;
    padding: 2rem;
    float: left;
    width: 70%;
}

aside {
    background-color: green;
    padding: 2rem;
    float: right;
    width: 30%;
}

footer {
    background-color: orangered;
    color: white;
    padding: 2rem;
    clear: both;
    bottom: 0px;
    left: 0px;
    width: 100%;
}