.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
form {
    box-shadow: 0 0 10px black;
    border-radius: 25px;
    padding: 20px;
}
label {
    display: block;
    font-weight: bold;
}
input {
    height: 30px;
}
input:hover {
    box-shadow: 0 0 5px black;
    box-shadow: 0 0 20px black;
    box-shadow: 0 0 50px black;
}
span {
    color: red;
}
button {
    width: 100%;
    height: 30px;
    background-color: wheat;
    color: black;
    border-radius: 5px;
}
button:hover {
    box-shadow: 0 0 5px skyblue;
    box-shadow: 0 0 20px skyblue;
    box-shadow: 0 0 50px skyblue;
}