<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h3>index</h3>
<table>
    <thead>
    <th>ID</th>
    <th>Khach hang</th>
    <th>So dem dat</th>
    <th>Trang thai</th>
    <th>Phong</th>
    <th>Hanh dong</th>
    </thead>
    <tbody>
    <th:block th:each="dp: ${page.getContent()}">
        <tr th:object="${dp}">
            <td th:text="*{id}"></td>
            <td th:text="*{tenKhachHang}"></td>
            <td th:text="*{soDemDat}"></td>
            <td th:text="*{trangThai == true ? 'Da thanh toan' : 'Chua thanh toan'}"></td>
            <td th:text="*{p.tenPhong}"></td>
            <td>
                <a th:href="@{|/dat-phong/update/*{id}|}">update</a>
                <a th:href="@{|/dat-phong/delete?id=*{id}|}">delete</a>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>