<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>update</h3>
<form action="/dat-phong/update" method="post" th:object="${dp}">
    Ten khach hang: <input type="text" th:field="*{tenKhachHang}" th:value="${tenKhachHang}"><i th:errors="*{tenKhachHang}"></i><br>
    So dem dat: <input type="text" th:field="*{soDemDat}" th:value="${soDemDat}"><i th:errors="*{soDemDat}"></i><br>
    Trang thai:
    Da thanh toan <input type="radio" th:field="*{trangThai}" value="true" th:checked="${trangThai}">
    Chua thanh toan <input type="radio" th:field="*{trangThai}" value="false" th:checked="${!trangThai}">
    <i th:errors="*{trangThai}"></i><br>
    Phong:
    <select th:field="*{p}">
        <option value="">select an option</option>
        <th:block th:each="p: ${pList}">
            <option th:value="${p.id}" th:text="${p.tenPhong}" th:selected="${p.id == dp.p.id}"></option>
        </th:block>
    </select>
    <i th:errors="*{p}"></i><br>
    <br><button>submit</button>
</form>
</body>
</html>