body {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 25px;
}
img {
    border-radius: 25px;
    margin: 25px auto;
}
input {
    width: 60px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 3px;
}
.green {
    background-color: green;
}
.orangered {
    background-color: orangered;
}
.blue {
    background-color: blue;
}