<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add</h3>
    <form action="/xe/add" method="post" th:object="${x}">
        Ma xe: <input type="text" th:field="*{maXe}"><i th:errors="*{maXe}"></i><br>
        Ten xe: <input type="text" th:field="*{tenXe}"><i th:errors="*{tenXe}"></i><br>
        Gia: <input type="text" th:field="*{gia}"><i th:errors="*{gia}"></i><br>
        Ngay san xuat: <input type="text" th:field="*{ngaySanXuat}"><i th:errors="*{ngaySanXuat}"></i><br>
        So cho ngoi: <input type="text" th:field="*{soChoNgoi}"><i th:errors="*{soChoNgoi}"></i><br>
        Loai xe:
        <select th:field="*{lx}">
            <option value="">select an option below</option>
            <th:block th:each="lx: ${lxList}">
                <option th:value="${lx.id}" th:text="${lx.tenLoaiXe}"></option>
            </th:block>
        </select>
        <i th:errors="*{lx}"></i>
        <br><button>submit</button>
    </form>
    <h3>search</h3>
    <form action="/xe/search" method="get">
        <input type="text" name="tenXe" placeholder="nhap ten xe can tim">
        <br><button>submit</button>
    </form>
    <h3>index</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Ma xe</th>
            <th>Ten xe</th>
            <th>Gia</th>
            <th>Ngay san xuat</th>
            <th>So cho ngoi</th>
            <th>Loai xe</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="x: ${xList}">
                <tr th:object="${x}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{maXe}"></td>
                    <td th:text="*{tenXe}"></td>
                    <td th:text="*{gia}"></td>
                    <td th:text="*{ngaySanXuat}"></td>
                    <td th:text="*{soChoNgoi}"></td>
                    <td th:text="*{lx.tenLoaiXe}"></td>
                    <td>
                        <a th:href="@{|/xe/update/*{id}|}">update</a>
                        <a th:href="@{|/xe/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <h3>page</h3>
    <a th:href="@{|/xe/page|}">page here</a>
</body>
</html>