<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add ts</h3>
    <form action="/tai-san/add" method="post">
        Ten: <input type="text" name="ten"><br>
        Nam san xuat: <input type="text" name="namSanXuat"><br>
        Gia: <input type="text" name="gia"><br>
        <select name="nv">
            <th:block th:each="nv : ${nvList}">
                <option th:value="${nv.id}" th:text="${nv.ten}"></option>
            </th:block>
        </select>
        <br>
        <button>submit</button>
    </form>
    <h3>index ts</h3>
    <table>
        <thead>
        <th>Id</th>
        <th>Ten</th>
        <th>Nam san xuat</th>
        <th>Gia</th>
        <th>Nhan vien</th>
        </thead>
        <tbody>
        <th:block th:each="ts : ${tsList}">
            <tr th:object="${ts}">
                <td th:text="*{id}"></td>
                <td th:text="*{ten}"></td>
                <td th:text="*{namSanXuat}"></td>
                <td th:text="*{gia}"></td>
                <td th:text="*{nv.ten}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>