<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>index bn</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>Ten</th>
        <th>Tuoi</th>
        <th>Gioi tinh</th>
        <th>Chuan doan</th>
        <th>Bac si</th>
        <th>Hanh dong</th>
        </thead>
        <tbody>
        <th:block th:each="bn: ${page.getContent()}">
            <tr th:object="${bn}">
                <td th:text="*{id}"></td>
                <td th:text="*{ten}"></td>
                <td th:text="*{tuoi}"></td>
                <td th:text="*{gioiTinh == true ? 'Nam' : 'Nu'}"></td>
                <td th:text="*{chuanDoan}"></td>
                <td th:text="*{bs.ten}"></td>
                <td>
                    <a th:href="@{|/de3/benh-nhan/update/*{id}|}">update</a>
                    <a th:href="@{|/de3/benh-nhan/delete?id=*{id}|}">delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a th:href="@{|/de3/benh-nhan/page?page=0|}">first</a>
    <a th:href="@{|/de3/benh-nhan/page?page=${page.isLast ? 0 : page.getNumber() - 1}|}">prev</a>
    <a th:href="@{|/de3/benh-nhan/page?page=${page.isLast ? page.getTotalPages() - 1 : page.getNumber() + 1}|}">next</a>
    <a th:href="@{|/de3/benh-nhan/page?page=${page.getTotalPages() - 1}|}">last</a>
</body>
</html>