<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LongBeo</title>
</head>
<body>
    <p>Thong so cua Long Beo (bao gom fat rate)</p>
    <ul>
        <li>MSSV: <span th:text="${long.mssv}"></span></li>
        <li>Lop: <span th:text="${long.lop}"></span></li>
        <li>Ten: <span th:text="${long.ten}"></span></li>
        <li>Tuoi: <span th:text="${long.tuoi}"></span></li>
        <li>Can nang: <span th:text="${long.canNang}"></span></li>
    </ul>

    <p>Day cung la Thong so cua Long Beo</p>
    <ul th:object="${long}">
        <li>MSSV: <span th:text="*{mssv}"></span></li>
        <li>Lop: <span th:text="*{lop}"></span></li>
        <li>Ten: <span th:text="*{ten}"></span></li>
        <li>Tuoi: <span th:text="*{tuoi}"></span></li>
        <li>Can nang: <span th:text="*{canNang}"></span></li>
    </ul>
</body>
</html>