<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update bn</h3>
    <form action="/de3/benh-nhan/update" method="post">
        ID: <input type="text" name="id" th:value="${bn.id}"><br>
        Ten: <input type="text" name="ten" th:value="${bn.ten}"><br>
        Tuoi: <input type="text" name="tuoi" th:value="${bn.ten}"><br>
        Gioi tinh
        Nam <input type="radio" name="gioiTinh" value="true" th:checked="${bn.gioiTinh}">
        Nu <input type="radio" name="gioiTinh" value="false" th:checked="${!bn.gioiTinh}">
        <br>
        Chuan doan: <input type="text" name="chuanDoan"><br>
        <select name="bs">
            <th:block th:each="bs: ${bsList}">
                <option th:value="${bs.id}" th:text="${bs.ten}" th:selected="${bs.id == bn.bs.id}"></option>
            </th:block>
        </select>
        <br><button>submit</button>
    </form>
</body>
</html>