.menu ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.menu a
{
    display: block;
}
.menu > ul > li
{
    display: inline-block;
    position: relative;
}
.menu ul ul
{
    position: absolute;
    display: none;
}
.menu li:hover > ul
{
    display: block;
}