<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td {
            border: 1px solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h3>index</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>Ten san pham</th>
        <th>So luong</th>
        <th>Gia nhap</th>
        <th>Ngay san xuat</th>
        <th>Ma phieu nhap</th>
        <th>Nha cung cap</th>
        <th>Hanh dong</th>
        </thead>
        <tbody>
        <th:block th:each="ct: ${page.getContent()}">
            <tr th:object="${ct}">
                <td th:text="*{id}"></td>
                <td th:text="*{tenSanPham}"></td>
                <td th:text="*{soLuong}"></td>
                <td th:text="*{giaNhap}"></td>
                <td th:text="*{ngaySanXuat}"></td>
                <td th:text="*{pn.maPhieuNhap}"></td>
                <td th:text="*{pn.nhaCungCap}"></td>
                <td>
                    <a th:href="@{|/chi-tiet/update/*{id}|}">update</a>
                    <a th:href="@{|/chi-tiet/delete?id=*{id}|}">delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>