body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: lightblue;
    background-image: url('src/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}
.timkiem {
    float: right;
}
.button {
    background-color: navy;
}
nav {
    background-color: black;
    height: 50px;
    line-height: 50px;
}
nav ul li {
    margin-left: 1rem;
    display: inline;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: white;

}
h2 a {
    color: brown;
    text-decoration: none;
    float: left;
    margin-left: 2rem;
}
p {margin-left: 2rem;}
a:hover {
    color: blueviolet;
}
article {
    height: 555px;
    text-align: left;
    border: 5px solid black;
    margin: 2rem;
}
.tintuc1 {
    margin: 2rem;
}
aside {
    width: 100%;
    clear: both;
    display: inline-block;
    text-align: left;
    margin: 2rem;
}
.column {
    border: 5px solid black;
    width: 30%;
    float: left;
    text-align: left;
    margin: 1rem;
}
.tintuc {
    margin: 1rem;
}
footer {
    text-align: center;
    background-color: cornflowerblue;
    clear: both;
    height: 100px;
    line-height: 100px;
}