<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>form add</h3>
    <form action="/prac2/add" method="post">
        ID: <input type="text" name="id"><br>
        Tac gia: <input type="text" name="tacGia"><br>
        Ten: <input type="text" name="ten"><br>
        So trang: <input type="text" name="soTrang"><br>
<!--        Nha xuat ban: <input type="text" name="nhaXuatBan"><br>-->
        Nha xuat ban
        <select name="nhaXuatBan">
            <option th:each="s : ${sList}" th:value="${s.nhaXuatBan}" th:text="${s.nhaXuatBan}"></option>
        </select>
        <br>
        <button>submit</button>
    </form>
    <h1>index</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Tac gia</th>
            <th>Ten</th>
            <th>So trang</th>
            <th>Nha xuat ban</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="s : ${sList}">
                <tr th:object="${s}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{tacGia}"></td>
                    <td th:text="*{ten}"></td>
                    <td th:text="*{soTrang}"></td>
                    <td th:text="*{nhaXuatBan}"></td>
                    <td>
                        <a th:href="@{|/prac2/view-update/*{id}|}">update</a>
                        <a th:href="@{|/prac2/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>