<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Truy xuat kieu Binh thuong</h3>
    <ul>
        <li>ID: <span th:text="${student.id}"></span></li>
        <li>Ten: <span th:text="${student.ten}"></span></li>
        <li>Diem: <span th:text="${student.diem}"></span></li>
    </ul>

    <h3>Truy xuat kieu Phong cach</h3>
    <ul th:object="${student}">
        <li>ID: <span th:text="*{id}"></span></li>
        <li>ID: <span th:text="*{ten}"></span></li>
        <li>ID: <span th:text="*{diem}"></span></li>
    </ul>

    <h3>Tao link cach 1</h3>
    <p><a th:href="@{/buoi4/{x}(x=${student.id})}">Cach 1 BEL</a></p>
    <p><a th:href="@{|/buoi4/${student.id}|}">Cach 2 BEL</a></p>
</body>
</html>