<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update</h3>
    <form action="/xe/update" method="post" th:object="${x}">
        Ma xe: <input type="text" th:field="*{maXe}" th:value="${x.maXe}"><i th:errors="*{maXe}"></i><br>
        Ten xe: <input type="text" th:field="*{tenXe}" th:value="${x.tenXe}"><i th:errors="*{tenXe}"></i><br>
        Gia: <input type="text" th:field="*{gia}" th:value="${x.gia}"><i th:errors="*{gia}"></i><br>
        Ngay san xuat: <input type="text" th:field="*{ngaySanXuat}" th:value="${x.ngaySanXuat}"><i th:errors="*{ngaySanXuat}"></i><br>
        So cho ngoi: <input type="text" th:field="*{soChoNgoi}" th:value="${x.soChoNgoi}"><i th:errors="*{soChoNgoi}"></i><br>
        Loai xe:
        <select th:field="*{lx}">
            <option value="">select an option below</option>
            <th:block th:each="lx: ${lxList}">
                <option th:value="${lx.id}" th:text="${lx.tenLoaiXe}" th:selected="${lx.id == x.lx.id}"></option>
            </th:block>
        </select>
        <i th:errors="*{lx}"></i>
        <br><button>submit</button>
    </form>
</body>
</html>