body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.logo img {
    height: 60px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
}

search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav {
    background-color: #f58220;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

main {
    text-align: center;
    padding: 20px;
}

.banner {
    position: relative;
    text-align: center;
    color: #333;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
}

.footer-container {
    background-color: #f58220;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-column {
    color: #fff;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-bottom {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
