<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update</h3>
    <form action="/xe/update" method="post">
        ID: <input type="text" name="id" th:value="${xe.id}"><br>
        Ma xe: <input type="text" name="maXe" th:value="${xe.maXe}"><br>
        Ten xe: <input type="text" name="tenXe" th:value="${xe.tenXe}"><br>
        Gia: <input type="text" name="gia" th:value="${xe.gia}"><br>
        So cho ngoi: <input type="text" name="soChoNgoi" th:value="${xe.soChoNgoi}"><br>
        Ma loai xe
        <select name="lx">
            <th:block th:each="lx: ${lxList}">
                <option th:value="${lx.id}" th:text="${lx.maLoaiXe}" th:selected="${lx.id == xe.lx.id}"></option>
            </th:block>
        </select>
        <br>
        <br><button>submit</button>
    </form>
</body>
</html>