<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add hs</h3>
    <form action="/de2/hoc-sinh/add" method="post">
        Ten: <input type="text" name="ten"><br>
        Tuoi: <input type="text" name="tuoi"><br>
        Gioi tinh
        Nam <input type="radio" name="gioiTinh" value="true">
        Nu <input type="radio" name="gioiTinh" value="false">
        <br>
        Lop hoc
        <select name="lh">
            <th:block th:each="lh: ${lhList}">
                <option th:value="${lh.id}" th:text="${lh.tenLop}"></option>
            </th:block>
        </select>
        <br><button>Submit</button>
    </form>
    <h3>search hs by ten</h3>
    <form action="/de2/hoc-sinh/search" method="get">
        Ten: <input type="text" name="ten">
        <br><button>Submit</button>
    </form>
    <h3>index hs</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Ten</th>
            <th>Tuoi</th>
            <th>Gioi tinh</th>
            <th>Lop hoc</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="hs: ${hsList}">
                <tr th:object="${hs}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{ten}"></td>
                    <td th:text="*{tuoi}"></td>
                    <td th:text="*{gioiTinh == true ? 'Nam' : 'Nu'}"></td>
                    <td th:text="*{lh.tenLop}"></td>
                    <td>
                        <a th:href="@{|/de2/hoc-sinh/update/*{id}|}">update</a>
                        <a th:href="@{|/de2/hoc-sinh/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a th:href="@{|/de2/hoc-sinh/page|}">page here!</a>
</body>
</html>