<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update hs</h3>
    <form action="/de2/hoc-sinh/update" method="post">
        ID: <input type="text" name="id" th:value="${hs.id}"><br>
        Ten: <input type="text" name="ten" th:value="${hs.ten}"><br>
        Tuoi: <input type="text" name="tuoi" th:value="${hs.tuoi}"><br>
        Gioi tinh
        Nam <input type="radio" name="gioiTinh" value="true" th:checked="${hs.gioiTinh}">
        Nu <input type="radio" name="gioiTinh" value="false" th:checked="${!hs.gioiTinh}">
        <br>
        Lop hoc
        <select name="lh">
            <th:block th:each="lh: ${lhList}">
                <option th:value="${lh.id}" th:text="${lh.tenLop}" th:selected="${lh.id == hs.lh.id}"></option>
            </th:block>
        </select>
        <br><button>Submit</button>
    </form>
</body>
</html>