<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add nv</h3>
    <form action="/nhan-vien/add" method="post">
        Ten: <input type="text" name="ten"><br>
        Luong: <input type="text" name="luong"><br>
        Gioi tinh
        Nam <input type="radio" name="gioiTinh" value="false">
        Nu <input type="radio" name="gioiTinh" value="true">
        <br>
        <button>Submit</button>
    </form>
    <h3>index nv</h3>
    <table>
        <thead>
            <th>Id</th>
            <th>Ten</th>
            <th>Luong</th>
            <th>Gioi tinh</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="nv : ${listNV}">
                <tr th:object="${nv}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{ten}"></td>
                    <td th:text="*{luong}"></td>
                    <td th:text="*{gioiTinh == true ? 'Nu' : 'Nam'}"></td>
                    <td>
<!--                        path variable-->
                        <a th:href="@{|/nhan-vien/update/*{id}|}">update</a>
<!--                        query param-->
                        <a th:href="@{|/nhan-vien/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>