<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update nv</h3>
    <form action="/nhan-vien/update" method="post">
        Id: <input type="text" name="id" th:value="${nv.id}"><br>
        Ten: <input type="text" name="ten" th:value="${nv.ten}"><br>
        Luong: <input type="text" name="luong" th:value="${nv.luong}"><br>
        Gioi tinh
        Nam <input type="radio" name="gioiTinh" value="false" th:checked="${!nv.gioiTinh}">
        Nu <input type="radio" name="gioiTinh" value="true" th:checked="${nv.gioiTinh}">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>