<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>update kh</h3>
    <form action="/de1/khach-hang/update" method="post">
        ID: <input type="text" name="id" th:value="${kh.id}"><br>
        Ten: <input type="text" name="ten" th:value="${kh.ten}"><br>
        SDT: <input type="text" name="sdt" th:value="${kh.sdt}"><br>
        Dia chi: <input type="text" name="diaChi" th:value="${kh.diaChi}"><br>
        <br><button>Submit</button>
    </form>
</body>
</html>