<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td {
            border: 1px solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h3>add</h3>
    <form action="/don-hang/add" method="post" th:object="${dh}">
        Khach hang: <input type="text" th:field="*{tenKhachHang}"><i th:errors="*{tenKhachHang}"></i><br>
        So luong dat: <input type="text" th:field="*{soLuongDat}"><i th:errors="*{soLuongDat}"></i><br>
        Trang thai:
        Con hang <input type="radio" th:field="*{trangThai}" value="true">
        Het hang <input type="radio" th:field="*{trangThai}" value="false">
        <i th:errors="*{trangThai}"></i><br>
        San pham:
        <select th:field="*{sp}">
            <option value="">select an option</option>
            <th:block th:each="sp: ${spList}">
                <option th:value="${sp.id}" th:text="${sp.tenSanPham}"></option>
            </th:block>
        </select>
        <i th:errors="*{sp}"></i><br>
        <br><button>submit</button>
    </form>
    <h3>search</h3>
    <form action="/don-hang/search" method="get">
        Khach hang: <input type="text" name="ten">
        <br><button>submit</button>
    </form>
    <h3>index</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Khach hang</th>
            <th>So luong dat</th>
            <th>Trang thai</th>
            <th>San pham</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="dh: ${dhList}">
                <tr th:object="${dh}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{tenKhachHang}"></td>
                    <td th:text="*{soLuongDat}"></td>
                    <td th:text="*{trangThai == true ? 'Con hang' : 'Het hang'}"></td>
                    <td th:text="*{sp.tenSanPham}"></td>
                    <td>
                        <a th:href="@{|/don-hang/update/*{id}|}">update</a>
                        <a th:href="@{|/don-hang/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <a th:href="@{|/don-hang/page|}">go page here!</a>
</body>
</html>