<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th, td {
            border: 1px solid;
            padding: 8px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
        <th>ID</th>
        <th>Khach hang</th>
        <th>So luong dat</th>
        <th>Trang thai</th>
        <th>San pham</th>
        <th>Hanh dong</th>
        </thead>
        <tbody>
        <th:block th:each="dh: ${page.getContent()}">
            <tr th:object="${dh}">
                <td th:text="*{id}"></td>
                <td th:text="*{tenKhachHang}"></td>
                <td th:text="*{soLuongDat}"></td>
                <td th:text="*{trangThai == true ? 'Con hang' : 'Het hang'}"></td>
                <td th:text="*{sp.tenSanPham}"></td>
                <td>
                    <a th:href="@{|/don-hang/update/*{id}|}">update</a>
                    <a th:href="@{|/don-hang/delete?id=*{id}|}">delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</body>
</html>