header{
    width: 98%;
    height: 100px;
    background-image: url('./images/logo.png');
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    height: 50px;
    width: 98%;
    background-color: green;
    display: flex;
}
nav ul{
    margin-left: 300px;
}
nav li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    padding: 0px 5px;
}
nav a:hover{
    box-shadow: 0 0 2px brown;
    text-decoration: underline blue;
    color: yellow;
}
nav a:visited{
    color: aqua;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    padding: 0 5px 5px;
}
.content{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.content .bang .hang1{
    background-color: green;
}
.content .bang .hang2{
    background-color: greenyellow;
}
.column{
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
}


.sp{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.sp .ten{
    font-size: larger;
    font-variant: small-caps;
    color: blue;
}
.sp img{
    max-width: 95%;
}
.sp .gia{
    color: red;
    font-weight: bold;
    font-size: larger;
}
.sp.gia del{
    color: gray;
}
.sp button{
    background-color: black;
    height: 30px;
    width: 120px;
    color: white;
    border-radius: 10px;
}
.sp button:hover{
    background-color: orangered;
    color: yellow;
}
p{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(40, 24, 12);
    padding-top: 10px;
}
footer{
    height: 50px;
    background-color: rgb(40, 24, 12);
    clear: both;
}