<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>index</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Ma xe</th>
            <th>Ten xe</th>
            <th>Gia</th>
            <th>So cho ngoi</th>
            <th>Ma loai xe</th>
            <th>Ten loai xe</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="xe: ${xList}">
                <tr th:object="${xe}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{maXe}"></td>
                    <td th:text="*{tenXe}"></td>
                    <td th:text="*{gia}"></td>
                    <td th:text="*{soChoNgoi}"></td>
                    <td th:text="*{lx.maLoaiXe}"></td>
                    <td th:text="*{lx.tenLoaiXe}"></td>
                    <td>
                        <a th:href="@{|/xe/update/*{id}|}">update</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
    <h3>page</h3>
    <a th:href="@{|/xe/page|}">go page</a>
</body>
</html>