<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>index hs</h3>
    <table>
        <thead>
        <th>ID</th>
        <th>Ten</th>
        <th>Tuoi</th>
        <th>Gioi tinh</th>
        <th>Lop hoc</th>
        <th>Hanh dong</th>
        </thead>
        <tbody>
        <th:block th:each="hs: ${page.getContent()}">
            <tr th:object="${hs}">
                <td th:text="*{id}"></td>
                <td th:text="*{ten}"></td>
                <td th:text="*{tuoi}"></td>
                <td th:text="*{gioiTinh == true ? 'Nam' : 'Nu'}"></td>
                <td th:text="*{lh.tenLop}"></td>
                <td>
                    <a th:href="@{|/de2/hoc-sinh/update/*{id}|}">update</a>
                    <a th:href="@{|/de2/hoc-sinh/delete?id=*{id}|}">delete</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <a th:href="@{|/de2/hoc-sinh/page?page=0|}">first</a>
    <a th:href="@{|/de2/hoc-sinh/page?page=${page.isFirst() ? 0 : page.getNumber() - 1}|}">prev</a>
    <a th:href="@{|/de2/hoc-sinh/page?page=${page.isLast() ? page.getTotalPages + 1 : page.getNumber + 1}|}">next</a>
    <a th:href="@{|/de2/hoc-sinh/page?page=${page.getTotalPages - 1}|}">last</a>
</body>
</html>