<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>add</h3>
    <form action="/de1/phieu-muon/add" method="post" th:object="${pm}">
        Ma phieu: <input type="text" th:field="*{maPhieu}"><i th:errors="*{maPhieu}"></i><br>
        Ngay muon: <input type="text" th:field="*{ngayMuon}"><i th:errors="*{ngayMuon}"></i><br>
        Ten sach: <input type="text" th:field="*{tenSach}"><i th:errors="*{tenSach}"></i><br>
        So ngay muon: <input type="text" th:field="*{soNgayMuon}"><i th:errors="*{soNgayMuon}"></i><br>
        Doc gia:
        <select th:field="*{dg}">
            <option value="">option</option>
            <th:block th:each="dg: ${dgList}">
                <option th:value="${dg.id}" th:text="${dg.ten}"></option>
            </th:block>
        </select>
        <i th:errors="*{dg}"></i>
        <br><button>submit</button>
    </form>
    <h3>index</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>Ma phieu</th>
            <th>Ngay muon</th>
            <th>Ten sach</th>
            <th>So ngay muon</th>
            <th>Doc gia</th>
            <th>Hanh dong</th>
        </thead>
        <tbody>
            <th:block th:each="pm: ${pmList}">
                <tr th:object="${pm}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{maPhieu}"></td>
                    <td th:text="*{ngayMuon}"></td>
                    <td th:text="*{tenSach}"></td>
                    <td th:text="*{soNgayMuon}"></td>
                    <td th:text="*{dg.ten}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>