# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Hard_Storage\Git Repo\School-Code\S-6\SOF3012 - Java 4 Develop\Projects\HomNayLaNgay1807\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
