<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>form add</h3>
    <form action="/prac1/add" method="post">
        ID: <input type="text" name="id"><br>
        Hang: <input type="text" name="hang"><br>
<!--        Hang-->
<!--        <select name="hang">-->
<!--            <option th:each="mt: ${mtList}" th:value="${mt.hang}" th:text="${mt.hang}"></option>-->
<!--        </select>-->
<!--        <br>-->
        CPU
        Intel <input type="radio" name="cpu" value="true">
        Ryzen <input type="radio" name="cpu" value="false">
        <br>
        GPU
        NVIDIA <input type="radio" name="gpu" value="true">
        AMD <input type="radio" name="gpu" value="false">
        <br>
        <button>submit</button>
    </form>
    <h1>Index MT</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Hang</th>
            <th>CPU</th>
            <th>GPU</th>
            <th>Act</th>
        </thead>
        <tbody>
            <th:block th:each="mt : ${mtList}">
                <tr th:object="${mt}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{hang}"></td>
                    <td th:text="*{cpu == true ? 'Intel' : 'Ryzen'}"></td>
                    <td th:text="*{gpu == true ? 'NVIDIA' : 'AMD'}"></td>
                    <td>
                        <a th:href="@{|/prac1/view-update/*{id}|}">update</a>
                        <a th:href="@{|/prac1/delete?id=*{id}|}">delete</a>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>