<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/buoi6/add" method="post">
    ID: <input type="text" name="id"><br>
    Ten: <input type="text" name="ten"><br>
    Dia chi: <input type="text" name="diaChi"><br>
    Luong: <input type="text" name="luong"><br>
    Tuoi: <input type="text" name="tuoi"><br>
    Gioi tinh:
    Nam <input type="radio" name="gioiTinh" value="false">
    Nu <input type="radio" name="gioiTinh" value="true">
    <br>
    <button>Submit</button>
</form>
<h3>Index of BacSi</h3>
<table>
    <thead>
        <th>ID</th>
        <th>Ten</th>
        <th>Dia chi</th>
        <th>Tuoi</th>
        <th>Luong</th>
        <th>Gioi tinh</th>
        <th>Hanh dong</th>
    </thead>
    <tbody>
        <th:block th:each="bs: ${bsList}">
            <tr th:object="${bs}">
                <td th:text="*{id}"></td>
                <td th:text="*{ten}"></td>
                <td th:text="*{diaChi}"></td>
                <td th:text="*{luong}"></td>
                <td th:text="*{tuoi}"></td>
                <td th:text="*{gioiTinh == true ? 'Nu' : 'Nam'}"></td>
                <td>
                    <a th:href="@{|/buoi6/view-update/*{id}|}">upd</a>
                    <a th:href="@{|/buoi6/delete?id=*{id}|}">del</a>
                </td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>