<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3>add gb</h3>
<form action="/gau-bong/update" method="post">
    Id: <input type="text" name="id" th:value="${gb.id}"><br>
    Ten: <input type="text" name="ten" th:value="${gb.ten}"><br>
    Chieu dai: <input type="text" name="chieuDai" th:value="${gb.chieuDai}"><br>
    Chieu cao: <input type="text" name="chieuCao" th:value="${gb.chieuCao}"><br>
    Dep ko
    Dep <input type="radio" name="dep" value="true" th:checked="${gb.dep}">
    Ko <input type="radio" name="dep" value="false" th:checked="${!gb.dep}">
    <br>
    <button>submit</button>
</form>
</body>
</html>